body {
    height: 100vh;
    margin: 10px;
    font-family: "Nunito", sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(215, 30, 71, 1) 100%);
    color: white;
}


header {
    padding: 10px;
}

.main-menu {
    border-bottom: 0.4px solid rgba(255, 241, 231, 0.4);
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.menu {
    display: flex;
}

.menu a {
    margin-right: 50px;
    color: white;
    text-decoration: none;
  }
  
.logo {
    height: 62px;
    border-radius: 50px;  
    margin-left: 150px;
    margin-bottom: 10px;
}

#perfil {
    width: 300px;
    margin-right: 150px;
    margin-top: -250px;
    border-radius: 150px;
    float: right;
}


.perfil { 
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}


.sobre-mim {
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}

.sobre-mim, h3 {
    margin-left: 450px;
}



#btsConto {
    background-color: rgb(107, 11, 11);
    color: #fff;
    border: none; 
    padding: 10px 20px;
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  #btsConto:hover {
    background-color: black; 
  }
  

.footer {
    border-top: 0.4px solid rgba(255, 241, 231, 0.4);
    bottom: 0;
  }

