body {
    height: 100vh;
    margin: 10px;
    font-family: "Nunito", sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(215, 30, 71, 1) 100%);
    color: white;
}

main {
    display: flex;
}

header {
    .main-menu {
        border-bottom: 0.4px solid rgba(255, 241, 231, 0.4);
        padding: 10px;
        display: flex;
    }
}

.menu a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
    
  }
  
#logo {
    height: 62px;
    border-radius: 50px;
}

section {
    display: flex;
}

.content, container1 {
    text-align: flex;
    margin: 0;
    max-width: 750px;
    
}

container3 {
    display: center;
    text-align: center;
}

#perfil{
    width: 300px;
    margin-top: 30px;
    margin-right: 150px;
    border-radius: 150px;
    position: absolute;
    top: 100px;
    right: 0;
}

.footer {
    border-top: 0.4px solid rgba(255, 241, 231, 0.4);
    bottom: 0;
  }

